<h1>Dashboard</h1>
<p>Welcome <%= current_user&.first_name || "there" %>!</p>

<%= link_to "User Account", edit_account_path %>

<%= button_to "Create Post",
              posts_path,
              method: :post,
              class: "btn btn-primary" %>

<%= button_to "Share Feed",
               feed_share_manager_path,
               method: :get,
               class: "btn btn-primary" %>

<%= button_to "View feeds shared with me",
              shared_user_feeds_path,
              method: :get,
              class: "btn btn-primary" %>

<%= button_to "Manage Tags",
              tags_path,
              method: :get,
              class: "btn btn-primary" %>
