<h2>Shared user feeds page</h2>

<%if @current_user_view_users.blank? %>
  <p>No shared feed to access</p>
<% else %>
  <table border = '1'>
    <thead>
      <th>S.No.</th>
      <th>User Email</th>
      <th>Requested access at</th>
      <th>Access available till</th>
    </thead>

    <tbody>
      <% @current_user_view_users.each_with_index do |uvu, idx| %>
        <tr>
          <td><%= idx + 1%></td>
          <td><%= uvu.viewee.email %></td>
          <td><%= uvu.updated_at %></td>
          <td><%= uvu.expires_at %></td>

          <td><%= link_to "View", shared_user_feed_path(uvu.viewee) %></td>
          <td><%= button_to "Ignore",
                          stop_feed_share_path(
                                  viewer_id: uvu.viewer.id, # current_user
                                  viewee_id: uvu.viewee.id),
                          method: :delete,
                          class: "btn btn-danger",
                          form: {
                            data: {
                              turbo_confirm:
                                "Sure you want to ignore the feed ?"
                            }
                          } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
