<h2> Edit Post </h2>

<%= form_with model: @post, local: true, multipart: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= label_tag :add_files %>
    <%= file_field_tag "added_files[]",
        multiple: true,
        id: "added_files" %>
  </div>

  <%= f.fields_for :media_files do |mf_form| %>
    <% mf = mf_form.object %>
    <div>
      <%= render partial: "shared/media_file",
                 locals: { media_file: mf } %>

      <!-- Files having _destroy set (i.e. checkbox selected) will -->
      <!-- be removed from the post -->
      <%= mf_form.label :_destroy, "Remove" %>
      <%= mf_form.check_box :_destroy %>
    </div>
  <% end %>

  <fieldset>
    <legend>Tags</legend>

    <% @tags&.each do |tag| %>
      <div>
        <%= check_box_tag "post[tag_ids][]",
                          tag.id,
                          @post.tags.include?(tag),
                          id: "tag_#{tag.id}" %>
        <%= label_tag "tag_#{tag.id}", tag.title %>
      </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit "Update" %>
    <%= button_tag "Update & Manage Tags",
                   type: :submit,
                   name: "redirect_to_tags",
                   value: "true" %>
  </div>
<% end %>
