<h2>Post Details</h2>

<% if current_user == @post.creator %>
  <%= button_to "Edit",
                edit_post_path(@post),
                method: :get,
                class: "btn btn-primary" %>
  <%= button_to "Delete",
                post_path(@post),
                method: :delete,
                class: "btn btn-danger",
                form: {
                  data: {
                    turbo_confirm: "Sure you want to delete ?"
                  }
                } %>
<% end %>

<p>Created by: <%= @post.creator.email %></p>

<p>Archived: <%= @post.archived ? "Yes" : "No" %></p>

<% unless @post.title.blank? %>
  <p>Title: <%= @post.title %></p>
<% end %>

<% unless @post.description.blank? %>
  <p>Description: <%= @post.creator.description %></p>
<% end %>

<% @post.media_files.each do |mf| %>
  <%= render partial: "shared/media_file",
             locals: { media_file: mf } %>
<% end %>
